@import "../../global.scss";

.menu {
  width: 300px;
  height: 100vh;
  background-color: $russian-violet;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease;

  &.active {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    width: 40%;

    li {
      margin-bottom: 26px;
      a {
        font-style: inherit;
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        font-weight: 500;
      }
    }
  }
}
