@import "../../global.scss";

.about {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;

  .wrap {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    h2 {
      font-size: 30px;
      overflow: visible;
    }

    .about-msg {
      font-size: 28px;
      font-weight: 500;
    }

    .about-info {
      display: flex;
      align-items: center;
      justify-content: center;

      .about-info-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;

        .about-info-text {
          flex: 0.8;
          padding: 20px;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          h3 {
            font-size: 32px;
            font-weight: 400;
            margin-top: 8px;
            padding: 4px;

            span {
              font-weight: 700;
            }

            .border {
              border-bottom: 4px solid #f5df4e;

              overflow: hidden;
              margin-left: 5px;
            }
          }

          p {
            margin-top: 20px;
            line-height: 1.8;
            font-size: 18px;

            a {
              text-decoration: underline;
              text-decoration-color: #f5df4e;
              text-decoration-thickness: 3px;
              color: inherit;
            }
          }
        }

        .about-info-box {
          flex: 0.3;
          padding: 10px;
          display: flex;
          flex-direction: column;
        }
      }
    }

    .skills {
      margin-top: 40px;
      width: 100%;
      .skills-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 40px;
      }
    }
  }
  .y-bottom {
    width: 100%;
    height: 20px;
    background-color: $main-color;
    position: absolute;
    bottom: 0;
  }
}

.back {
  position: relative;
  z-index: 1;

  &::before {
    z-index: -4;
    content: "";
    background-color: #f5df4e;
    height: 100%;
    width: 90%;
    left: -16px;
    position: absolute;
  }
}

.sm-back {
  position: relative;
  z-index: 1;

  &::before {
    z-index: -4;
    content: "";
    background-color: #f5df4e;
    height: 100%;
    width: 92%;
    left: -4px;
    bottom: -2px;
    position: absolute;
  }
}

.skills-border {
  border-left: 2px solid #f5df4e;
  padding: 0 30px;
}

.skills-item {
  padding: 6px;
  font-size: 18px;
  margin-top: 5px;
  margin-right: 20px;
  display: flex;

  .skills-img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .about {
    flex-direction: column;
    font-size: 16px !important;

    .wrap {
      max-width: 1000px;
      margin-top: 0px;

      h2 {
        font-size: 24px !important;
      }

      .about-msg {
        font-size: 16px;
        font-weight: 500;
        overflow: hidden;
      }

      .about-info-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px !important;

        .about-info-text {
          display: flex;
          flex-direction: column;
          padding: 0px 0 0 0 !important;

          h3 {
            font-size: 20px !important;
            font-weight: 400;
            margin-top: 10px !important;

            .border {
              border-bottom: 2px solid #f5df4e !important;
            }

            span {
              font-weight: 700;
            }
          }

          p {
            font-size: 16px !important;
            line-height: 1.5 !important;
            margin-top: 8px !important;
            font-weight: 300;
          }
        }
      }

      .skills {
        margin-top: 10px;

        .skills-wrapper {
          padding: 0 26px;

          .skills-border {
            padding-right: 0;
            .skills-item {
              font-size: 14px;
              padding: 4px;
              margin-right: 0;

              img {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }

    .y-bottom {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .about {
    .wrap {
      h2 {
        margin-top: 8px;
      }
      .about-info {
        .about-info-wrapper {
          margin-top: 5px;
          .about-info-text {
            h3 {
              margin-top: 0;
            }
          }
        }
      }
    }
    h3 {
      margin-top: 0;
    }
  }
}

@media (max-height: 1099px) {
  .skills-item {
    margin-top: 0px !important;
  }
}

@media (max-height: 851px) {
  .about {
    .wrap {
      h2 {
        font-size: 24px !important;
      }

      .about-msg {
        font-size: 22px !important;
      }

      .about-info {
        .about-info-wrapper {
          .about-info-text {
            p {
              font-size: 16px !important;
            }
          }
        }
      }
    }
  }
}
