@import "../../global.scss";

.intro {
  display: flex;

  .intro-left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 700px;
      height: 700px;

      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;

      .imgWrapper {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        border: 4px solid#f5df4e;
        overflow: hidden;
        display: block;

        .cover {
          object-fit: cover;
          width: 500px;
          height: 500px;
        }
      }
    }
  }
  .intro-right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 60px;
        margin: 10px 0;
      }

      h4 {
        font-size: 20px;
        margin-top: 25px;
        font-weight: 400;
        overflow: hidden;
      }

      .btn-wrapper {
        margin-top: 40px;
        display: flex;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 180px;
          height: 40px;
          margin-right: 60px;
          font-size: 18px;
          text-decoration: none;
          color: #333;
          border: 1px solid #333;
          letter-spacing: 1px;
          font-weight: 700;
          text-align: center;
          position: relative;
          transition: all 0.65s;
        }

        a span {
          position: relative;
          z-index: 2;
        }

        a:after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background: #f5df4e;
          transition: all 0.35s;
        }

        a:hover {
          color: #fff !important;
        }

        a:hover:after {
          width: 100%;
        }
      }

      .arrow-wrapper {
        a {
          position: absolute;
          bottom: 10px;
          left: 40%;
          color: inherit;

          .icon {
            width: 52px;
            height: 52px;
            animation: arrowBlink 1.7s infinite;
          }

          @keyframes arrowBlink {
            100% {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .y-bottom {
    width: 100%;
    height: 20px;
    background-color: $main-color;
    position: absolute;
    bottom: 0;
  }
}

.sm-back {
  position: relative;
  z-index: 1;

  &::before {
    z-index: -4;
    content: "";
    background-color: #f5df4e;
    height: 100%;
    width: 92%;
    left: -4px;
    bottom: -2px;
    position: absolute;
  }
}
