@import "../../global.scss";

.intro {
  display: flex;

  .intro-left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 700px;
      height: 700px;

      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;

      .imgWrapper {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        border: 4px solid#f5df4e;
        overflow: hidden;
        display: block;

        .cover {
          object-fit: cover;
          width: 500px;
          height: 500px;
        }
      }
    }
  }
  .intro-right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title-wrapping {
        display: flex;
        flex-direction: row;

        h2 {
          font-size: 40px;
          margin: 10px 0;
        }
        span {
          font-size: 36px;
          margin-top: 12px;
          margin-left: 10px;
        }
      }

      h4 {
        font-size: 20px;
        margin-top: 25px;
        font-weight: 400;
        overflow: hidden;
      }

      .btn-wrapper {
        margin-top: 40px;
        display: flex;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 180px;
          height: 40px;
          margin-right: 60px;
          font-size: 18px;
          text-decoration: none;
          color: #333;
          border: 1px solid #333;
          letter-spacing: 1px;
          font-weight: 700;
          text-align: center;
          position: relative;
          transition: all 0.65s;
        }

        a span {
          position: relative;
          z-index: 2;
        }

        a:after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background: #f5df4e;
          transition: all 0.35s;
        }

        a:hover {
          color: #fff !important;
        }

        a:hover:after {
          width: 100%;
        }
      }

      .arrow-wrapper {
        a {
          position: absolute;
          bottom: 10px;
          left: 40%;
          color: inherit;

          .icon {
            width: 52px;
            height: 52px;
            animation: arrowBlink 1.7s infinite;
          }

          @keyframes arrowBlink {
            100% {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .y-bottom {
    width: 100%;
    height: 20px;
    background-color: $main-color;
    position: absolute;
    bottom: 0;
  }
}

.sm-back {
  position: relative;
  z-index: 1;

  &::before {
    z-index: -4;
    content: "";
    background-color: #f5df4e;
    height: 100%;
    width: 92%;
    left: -4px;
    bottom: -2px;
    position: absolute;
  }
}

@media (max-width: $breakpoint-mobile) {
  .intro {
    flex-direction: column;

    .intro-left {
      display: none;
    }

    .intro-right {
      height: 100vh !important;
      overflow: visible;

      .wrapper {
        margin-top: 60px;
        .title-wrapping {
          display: flex;
          flex-direction: row;

          h2 {
            font-size: 36px;
            margin: 10px 0;
          }
          span {
            font-size: 36px;
            margin-top: 12px;
            margin-left: 10px;
          }
        }

        .dev-title {
          margin-top: 20px;

          .dev-title-item {
            font-size: 24px;
          }
        }

        h4 {
          padding-top: 20px;
          font-size: 18px !important;
        }

        .btn-wrapper {
          margin-top: 90px !important;

          a {
            font-size: 16px !important;
            margin-right: 44px !important;
          }
        }

        .arrow-wrapper {
          padding-top: 70px;
          a {
            position: relative !important;
            bottom: -20px;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .intro {
    .intro-left {
      .imgContainer {
        border-radius: 0;
        justify-content: flex-end;
        height: 600px;

        .imgWrapper {
          margin-top: 0;
        }
      }
    }

    .intro-right {
      .wrapper {
        height: 640px;

        h2 {
          font-size: 30px !important;
        }

        .title-wrapping {
          span {
            margin-left: 5px;
            margin-top: 5px;
          }
        }

        .dev-title {
          margin-top: 26px;
          margin-bottom: 22px;
          .dev-title-wrapper {
            .dev-title-item {
              font-size: 22px !important;
            }
          }
        }

        h4 {
          font-size: 18px;
        }

        .btn-wrapper {
          margin-top: 100px;

          a {
            font-size: 16px !important;
            margin-right: 40px !important;

            span {
              z-index: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: $breakpoint-large) {
  .dev-title {
    .dev-title-wrapper {
      .dev-title-item {
        font-size: 24px !important;
      }
    }
  }

  a {
    font-size: 16px !important;
  }
}

@media (min-width: $breakpoint-xxl) {
  .wrapper {
    width: 66%;
    margin: auto;
  }
}
