$isabelline: #efe9e7ff;
$lavender-web: #dae0f2ff;
$rich-black-fogra-29: #04080fff;
$coq: #f34213;
$russian-violet: #111344ff;
$main-color: #f5df4e;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-large: 1199px;
$breakpoint-xxl: 1200px;
