$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-large: 1199px;
$breakpoint-xxl: 1200px;

@media (max-width: $breakpoint-mobile) {
  .toggle {
    right: 80px !important;
  }
  .topbar-right {
    .desktop-wrap {
      ul {
        display: none !important;
      }
    }
    .hamburger {
      display: flex !important;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .toggle {
    right: 80px !important;
  }
  .topbar-right {
    .desktop-wrap {
      ul {
        display: none !important;
      }
    }

    .hamburger {
      display: flex !important;
    }
  }
}

@media (min-width: 769px) and (max-width: $breakpoint-large) {
  .wrapper {
    width: 85% !important;
    margin: auto;
  }
  .toggle {
    right: 10px !important;
  }

  .dev-title-item {
    font-size: 24px;
  }
}

@media (min-width: $breakpoint-xxl) {
  .wrapper {
    width: 80% !important;
    margin: auto;
  }

  .toggle {
    right: 80px !important;
  }
}
